  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f2feee;
  }
  
  .pro_sidebar{
    position:absolute;
    height:100%;
  }

  #div1 {
      float:left;
      height:100%;
  }

  .App {
    text-align: center;
    padding: 0px;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
  }

  button {
    padding: 8px;
    background-color: #bbf5b6;
    color: black;
    cursor: pointer;
    border: groove;
  }
